# Final Portfolio -

## Introduction

## Preparations

## Analysing Data

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
bestsellers = pd.read_csv("bestsellers with categories.csv")

In [3]:
bestsellers.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [4]:
bestsellers.columns

Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre'], dtype='object')

In [6]:
print(min(bestsellers["Year"].values))
print(max(bestsellers["Year"].values))

2009
2019

In [7]:
len(bestsellers)

550

In [8]:
bestsellers.isnull().values.any()

False

In [10]:
bestsellers.groupby("Year")["Name"].count().reset_index()

    Year  Name
0   2009    50
1   2010    50
2   2011    50
3   2012    50
4   2013    50
5   2014    50
6   2015    50
7   2016    50
8   2017    50
9   2018    50
10  2019    50